.dayButton {
  background-color: red;
  width: 18vw;
  height: 18vw;
  border-radius: 19%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

h5 {
  font-family: "Patrick Hand", cursive;
}
.arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowSize {
  font-size: 3.6rem;
}
#gripIcon {
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  height: 1.5rem;
}

#photoSampleDiv {
  width: 14rem;
  height: 14rem;
}

.dropdownDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowDownLeft {
  transform: rotate(24deg);
}

.arrowDownCol {
  display: flex;
  justify-content: center;
  align-items: end;
}

#pieChart {
  width: 100%;
  height: auto;
  position: relative;
  top: 3.5rem;
  left: 2rem;
}
.dayBtnDiv {
  display: inline;
}

.font {
  font-family: "Patrick Hand", cursive;
}
.readyButton {
  justify-content: right;
  display: flex;
}

.readyButton button {
  width: 12rem;
  height: 5rem;
  border-radius: 3rem;
  font-size: 2rem;
}

.readyBtnCol {
  align-items: end;
  display: flex;
  justify-content: center;
}

.dayBtnCol {
  justify-content: center;
  display: flex;
}

.taskItemColor {
  background-color: red;
  color: white;
}
