.dayButton {
  background-color: #ffefd5;
  width: 17vw;
  height: 15vw;
  border-radius: 19%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6%;
  filter: drop-shadow(black 0px 2px 1px);
  margin-bottom: 1rem;
}

.btn-dark-moon {
  background: linear-gradient(to right, #187dee, #141e30);
  color: #fff;
  border: 3px solid #eee;
}

.btn:hover {
  border: 3px solid #00fff6;
  color: white;
}

.box {
  /* width: 250px;
  height: 250px; */
  border: solid black;
  border-color: black;
  float: left;
}

.box2 {
  width: 19rem;
  height: 7.5rem;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

body {
  background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

.categoryBtn {
  background-color: #ffefd5;
  color: black;
  border: none;
  width: 11rem;
  font-size: 1.5rem;
  height: 3rem;
  filter: drop-shadow(black 1px 3px 1px);
}

.evenboxinner {
  padding-top: 0.5rem;
}
h5 {
  font-family: "Patrick Hand", cursive;
  padding-left: 1rem;
}
.arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowSize {
  font-size: 3.6rem;
}
#gripIcon {
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  height: 1.5rem;
}

#photoSampleDiv {
  width: 21rem;
  height: 14rem;
}

.dropdownDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6rem;
}
.arrowDownLeft {
  transform: rotate(24deg);
}

.arrowDownCol {
  display: flex;
  justify-content: center;
  align-items: end;
}

#pieChart {
  width: 100%;
  height: auto;
  position: relative;
  top: 3.5rem;
  left: 2rem;
  margin-bottom: 3rem;
}
.dayBtnDiv {
  display: inline;
}

.font {
  font-family: "Patrick Hand", cursive;
}
.readyButton {
  justify-content: right;
  display: flex;
  margin-bottom: 2rem;
}

.readyButton button {
  width: 12rem;
  height: 5rem;
  border-radius: 3rem;
  font-size: 2rem;
}

.readyBtnCol {
  align-items: end;
  display: flex;
  justify-content: center;
}

.dayBtnCol {
  justify-content: center;
  display: flex;
}

.taskItemColor {
  background-color: unset;
  color: black;
}

/* .btn-secondary:hover */
.categoryBtn:hover {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.812);
  background-color: #ffefd5;
  color: black;
}

.btn-warning {
  background-color: rgb(252, 252, 21);
  border-color: rgb(252, 252, 21);
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.274);
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn-secondary:focus {
  color: black;
  background-color: #ffefd5;
  border-color: #c8dceb;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  background-color: unset;
}
