.dayButton {
  background-color: #ffefd5;
  width: 17vw;
  height: 15vw;
  border-radius: 19%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.1rem;
  position: relative;
  filter: drop-shadow(black 0px 2px 1px);
  margin-bottom: 1rem;
}

.instructionsDashboard {
  width: 22rem;
  height: 11.5rem;
  border-width: 3px 3px 5px 5px;
  position: relative;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  left: 8rem;
}

.btn-dark-moon {
  background: linear-gradient(to right, #187dee, #141e30);
  color: #fff;
  border: 3px solid #eee;
}

.todoListRow {
  margin-top: 1rem;
}
.btn:hover {
  border: 3px solid #00fff6;
  color: white;
}

.box {
  /* width: 250px;
  height: 250px; */
  border: solid black;
  border-color: black;
  float: left;
}

.box2 {
  width: 22rem;
  height: 11.5rem;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}


/* background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%); */

.categoryBtn {
  background-color: #ffefd5;
  color: black;
  border: none;
  width: 15rem;
  font-size: 1.9rem;
  height: 3.8rem;
  filter: drop-shadow(black 1px 3px 1px);
}

.evenboxinner {
  padding-top: 0.9rem;
}
.evenboxinner h5 {
  font-family: "Patrick Hand", cursive;
  padding-left: 2.3rem;
  font-size: 1.7rem;
}

.dashBuddyIcon {
  font-size: 2.3rem;
}

#findBuddy {
  font-size: 2rem;
}
.arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1.5rem;
  bottom: 1rem;
}
.arrowSize {
  font-size: 4.5rem;
}
#gripIcon {
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  height: 1.5rem;
}

.containerWidth {
  width: 100vw;
}
.container-fluid {
  margin: 2.5rem 3rem 3rem 3rem;
}

#photoSampleDiv {
  width: 16rem;
  height: 14rem;
  margin-left: 4.5rem;
}

.dropBtn {
  font-size: 1.3rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.3rem;
  background-color: transparent;
  border: 0;
}

.dropdownDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 100vw;
}
.arrowDownLeft {
  transform: rotate(24deg);
}

.arrowDownCol {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.boxDrag {
  position: relative;
  top: 2rem;
}

#pieChart {
  width: 100%;
  height: auto;
  position: relative;
  left: 2rem;
}
.dayBtnDiv {
  display: inline;
}

#strikeBtn {
  border: none;
  background-color: transparent;
  color: black;
}

.navbarContainer {
  height: 6rem;
}
/* .dayBtnRow {
  margin-top: 2rem;
} */
/* .rowMiddle {
  margin-bottom: 2rem;
} */

#strikeBtn button:hover,
button:focus {
  color: black;
}

.font {
  font-family: "Patrick Hand", cursive;
}

.homeParagraph {
  font-size: 1.3rem;
  padding: 0.5rem 0rem 0rem 1rem;
}
.homeHeader {
  font-size: 3.4rem;
  padding-left: 1rem;
}

.homeBtn {
  border-radius: 5rem;
}
.readyButton {
  justify-content: right;
  display: flex;
  position: relative;
}

.readyButton button {
  width: 12rem;
  height: 5rem;
  border-radius: 3rem;
  font-size: 2rem;
}

.readyBtnCol {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dayBtnCol {
  justify-content: start;
  display: flex;
}

.taskItemColor {
  background-color: unset;
  color: black;
}

/* .btn-secondary:hover */
.categoryBtn:hover {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.812);
  background-color: #ffefd5;
  color: black;
}

.categoryBtn {
  position: relative;
  bottom: 2rem;
}

.btn-warning {
  background-color: rgb(252, 252, 21);
  border-color: rgb(252, 252, 21);
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.274);
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn-secondary:focus {
  color: black;
  background-color: #ffefd5;
  border-color: #c8dceb;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  background-color: unset;
}

#checklist {
  --text: #414856;
  --check: #4f29f0;
  --disabled: #ffffff;
  --width: 20rem;
  --height: 0.1rem;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  padding: 1.2rem 1rem;
  display: grid;
  grid-template-columns: 2.5rem auto;
  align-items: center;
  font-size: 1.4rem;
}
#checklist label {
  color: var(--text);
  position: relative;
  /* cursor: pointer; */
  display: grid;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.3s ease;
}
/* #checklist label::before, */
#checklist label::after {
  content: "";
  position: absolute;
}
#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 1rem;
  width: 1rem;
  outline: none;
  border: 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
#checklist input[type="checkbox"]:checked::before {
  -webkit-animation: check-01 0.4s ease forwards;
  animation: check-01 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked::after {
  -webkit-animation: check-02 0.4s ease forwards;
  animation: check-02 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  -webkit-animation: move 0.3s ease 0.1s forwards;
  animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  -webkit-animation: slice 0.4s ease forwards;
  animation: slice 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label::after {
  -webkit-animation: firework 0.5s ease forwards 0.1s;
  animation: firework 0.5s ease forwards 0.1s;
}

.checklistPadding {
  padding: 0;
}
@-webkit-keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@-webkit-keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@-webkit-keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}

.Title {
  font-size: 80px;
  text-align: center;
  margin: 5px;
  font-family: "Source Code Pro", monospace;
  font-weight: 20px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  box-shadow: 10px 10px 5px lightblue;
}

.itemsLeftDiv {
  padding: 0px 0px 5px 12px;
}
.todoListTitle {
  margin-top: 0rem;
}

.rowMiddle {
  margin-top: 1rem;
}

.item {
  padding-left: 1rem;
  font-size: 1.15rem;
  width: 20rem;
  padding-bottom: 0.3rem;
  padding-top: 0.4rem;
  background-color: #ffefd5;
  display: flex;
  justify-content: space-between;
  border-color: white;
  filter: drop-shadow(black 3px 1px 1px);
  height: 2.5rem;
}

.mouseOver:hover {
  cursor: pointer;
}

.item.itemsLeft {
  padding-left: 8px;
  line-height: 20px;
  font-size: 10px;
}

.inputField {
  width: 100%;
}

#todoUL {
  padding-left: 0;
  overflow: hidden;
}

.itemLeftDiv {
  display: flex;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  --hover: black;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover {
  border-color: var(--hover);
  color: #fff;
}

button:focus {
  border-color: var(--hover);
  color: #fff;
}

.goalTaskCol {
  padding-right: 0;
}

#buddyBtn {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 0.6rem;
  width: 11rem;
  height: 10rem;
  color: #078dff;
  border-radius: 25%;
  filter: drop-shadow(black 0px -1px 0px);
  right: 41rem;
  top: 1rem;
  font-size: 2.4rem;
  position: relative;
}

.checked-item {
  text-decoration: line-through;
}
.findBtnCol {
  padding-left: 6rem;
}
#checkboxIcon {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

#strikeBtn :hover {
  /* border-color: var(--hover); */
  color: black;
}

#strikeBtn :focus {
  /* border-color: var(--hover); */
  color: black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  font-size: 1.6rem;
  color: black;
  border: solid black;
  border-color: black;
  float: left;
  width: 13rem;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 94% 7% 143%/69% 26% 107% 18%;
  transform: rotate(-2deg);
  padding: 0.01rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active::before {
  background-color: transparent;
  border: solid black;
  border-color: black;
  float: left;
  width: 8rem;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 94% 7% 143%/69% 6% 76% 3%;
  transform: rotate(-2deg);
  padding: 0.01rem;
}

.nav-link {
  display: block;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: black;
}

.dayBtnRow1 {
  height: 10rem;
}

#userGoalPic {
  width: auto;
  height: 6rem;
  position: relative;
  top: 0.5rem;
}
.Card-text {
  margin: 0 100% 1% 0;
  padding-left: 7%;
  white-space: nowrap;
  word-wrap: break-word;
}

.Card-title {
  margin: 4% 100% 4% 0;
  padding-left: 7%;
  white-space: nowrap;
}

.btn .btn-outline-primary {
  margin: 5% 100% 5% 6%;
  white-space: nowrap;
  padding: 3% 4%;
}

.btn .btn-outline-warning {
  margin: 5% 6% 5% 100%;
}

/* button{
  margin: 5% 100% 5% 6%;
  white-space: nowrap;
  padding: 3% 4%;
} */

.btDiv {
  display: flex;
  justify-content: space-between;
}
.h2Title {
  margin: 1% 100% 4% 0;
  color: rgb(221, 98, 60);
}

.characters {
  display: flex;
}

.fullCard {
  margin-right: 3.5%;
  border: groove 1.8px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.singleText {
  text-align: center;
}

.horizontalScroll {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

#cb {
  background: black;
  color: white;
}

input[id="cb"]:checked ~ p.strikethrough {
  text-decoration: line-through;
}

[data-target="#mainMenu"] {
  position: relative;
  z-index: 999;
}

#mainMenu {
  justify-content: end;
}

#mainMenu li > a {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #000;
  font-weight: 600;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.main-header.fixed-nav #mainMenu li > a {
  color: #fff;
  text-decoration: none;
}

#mainMenu li:not(:last-of-type) {
  margin-right: 3.2rem;
}

#mainMenu li > a::before {
  position: absolute;
  content: "";
  width: calc(100% - 1px);
  height: 1px;
  background: #000;
  bottom: -6px;
  left: 0;

  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  z-index: -1;

  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.main-header.fixed-nav #mainMenu li > a::before {
  background: #000;
}

.main-header {
  position: relative;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main-header.fixed-nav {
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
  box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main-header.fixed-nav .navbar-brand > img:last-of-type {
  display: block;
}

.main-header.fixed-nav .navbar-brand > img:first-of-type {
  display: none;
}
.navbar-brand {
  color: #fff;
}
.main-header .navbar-brand img {
  max-width: 40px;
  animation: fadeInLeft 0.4s both 0.4s;
}
/* main-header end */
@media (max-width: 991px) {
  /*header starts*/

  .collapse.in {
    display: block !important;
    padding: 0;
    clear: both;
  }

  .navbar-toggler {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 0;
    border: none;
    border-radius: 0;
    outline: none !important;
  }

  .main-header .navbar {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .main-header .navbar-nav {
    margin-top: 70px;
  }

  .main-header .navbar-nav li .nav-link {
    text-align: center;
    padding: 20px 15px;
    border-radius: 0px;
  }

  /**/
  .main-header .navbar-toggler .icon-bar {
    background-color: #fff;
    margin: 0 auto 6px;
    border-radius: 0;
    width: 30px;
    height: 3px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .main-header .navbar .navbar-toggler .icon-bar:first-child {
    margin-top: 3px;
  }

  .main-header .navbar-toggler .icon-bar-1 {
    width: 10px;
    top: 0px;
  }

  .main-header .navbar-toggler .icon-bar-2 {
    width: 16px;
    top: 12px;
  }

  .main-header .navbar-toggler .icon-bar-3 {
    width: 20px;
    top: 21px;
  }

  .main-header .current .icon-bar {
    margin-bottom: 5px;
    border-radius: 0;
    display: block;
  }

  .main-header .current .icon-bar-1 {
    width: 18px;
  }

  .main-header .current .icon-bar-2 {
    width: 30px;
  }

  .main-header .current .icon-bar-3 {
    width: 10px;
  }

  .main-header .navbar-toggler:hover .icon-bar {
    background-color: #fff;
  }

  .main-header .navbar-toggler:focus .icon-bar {
    background-color: #fff;
  }

  /*header ends*/
}
