.dayButton {
  background-color: #ffefd5;
  width: 17vw;
  height: 15vw;
  border-radius: 19%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.1rem;
  filter: drop-shadow(black 0px 2px 1px);
  margin-bottom: 1rem;
}

.btn-dark-moon {
  background: linear-gradient(to right, #187dee, #141e30);
  color: #fff;
  border: 3px solid #eee;
}

.btn:hover {
  border: 3px solid #00fff6;
  color: white;
}

.box {
  /* width: 250px;
  height: 250px; */
  border: solid black;
  border-color: black;
  float: left;
}

.box2 {
  width: 20rem;
  height: 8.5rem;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

body {
  background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

.categoryBtn {
  background-color: #ffefd5;
  color: black;
  border: none;
  width: 11rem;
  font-size: 1.9rem;
  height: 3.8rem;
  filter: drop-shadow(black 1px 3px 1px);
}

.evenboxinner {
  padding-top: 0.9rem;
}
h5 {
  font-family: "Patrick Hand", cursive;
  padding-left: 1rem;
}
.arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowSize {
  font-size: 3.6rem;
}
#gripIcon {
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  height: 1.5rem;
}

.containerWidth {
  width: 100vw;
}
.container-fluid {
  margin: 1rem;
}

#photoSampleDiv {
  width: 21rem;
  height: 14rem;
}

.dropdownDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 100vw;
}
.arrowDownLeft {
  transform: rotate(24deg);
}

.arrowDownCol {
  display: flex;
  justify-content: center;
  align-items: end;
}

#pieChart {
  width: 100%;
  height: auto;
  position: relative;
  top: 3.5rem;
  left: 2rem;
  margin-bottom: 3rem;
}
.dayBtnDiv {
  display: inline;
}

.font {
  font-family: "Patrick Hand", cursive;
}
.readyButton {
  justify-content: right;
  display: flex;
  margin-bottom: 2rem;
}

.readyButton button {
  width: 12rem;
  height: 5rem;
  border-radius: 3rem;
  font-size: 2rem;
}

.readyBtnCol {
  align-items: end;
  display: flex;
  justify-content: center;
}

.dayBtnCol {
  justify-content: start;
  display: flex;
}

.taskItemColor {
  background-color: unset;
  color: black;
}

/* .btn-secondary:hover */
.categoryBtn:hover {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.812);
  background-color: #ffefd5;
  color: black;
}

.btn-warning {
  background-color: rgb(252, 252, 21);
  border-color: rgb(252, 252, 21);
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.274);
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn-secondary:focus {
  color: black;
  background-color: #ffefd5;
  border-color: #c8dceb;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  background-color: unset;
}

#checklist {
  /* --background: #ffffff; */
  --text: #414856;
  --check: #4f29f0;
  --disabled: #ffffff;
  --width: 20rem;
  --height: 0.1rem;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  padding: 1.2rem 1rem;
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
}
#checklist label {
  color: var(--text);
  position: relative;
  /* cursor: pointer; */
  display: grid;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.3s ease;
}
/* #checklist label::before, */
#checklist label::after {
  content: "";
  position: absolute;
}
#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 1rem;
  width: 1rem;
  outline: none;
  border: 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
#checklist input[type="checkbox"]:checked::before {
  -webkit-animation: check-01 0.4s ease forwards;
  animation: check-01 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked::after {
  -webkit-animation: check-02 0.4s ease forwards;
  animation: check-02 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  -webkit-animation: move 0.3s ease 0.1s forwards;
  animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  -webkit-animation: slice 0.4s ease forwards;
  animation: slice 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label::after {
  -webkit-animation: firework 0.5s ease forwards 0.1s;
  animation: firework 0.5s ease forwards 0.1s;
}

.checklistPadding {
  padding: 0;
}
@-webkit-keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@-webkit-keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@-webkit-keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}

.Title {
  font-size: 80px;
  text-align: center;
  margin: 5px;
  font-family: "Source Code Pro", monospace;
  font-weight: 20px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  box-shadow: 10px 10px 5px lightblue;
}

.itemsLeftDiv {
  padding: 0px 0px 5px 12px;
}

.item {
  padding-left: 33px;
  font-size: 19px;
  width: 100%;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
}

.mouseOver:hover {
  cursor: pointer;
}

.item.itemsLeft {
  padding-left: 8px;
  line-height: 20px;
  font-size: 10px;
}

.inputField {
  width: 100%;
}

#todoUL {
  padding-left: 0;
  overflow: hidden;
}

.itemLeftDiv {
  display: flex;
}
