.contact-container {
  /* background:#e9e9d7; */
  width: 1000px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  margin-top: 100px;
<<<<<<< HEAD
=======

>>>>>>> e19f89acf1b7e91473a9e760864bee6116dac16e
}
