/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(315deg, #f9ea8f 0%,  #aff1da 74%);
  /* background: linear-gra; */
  /* background-color: #f0f1f3;; */
}
/*  */
