/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
