/* 
    General Styles used on every website (Don't Repeat Yourself)
      All pages share the styles on index.css but you should create 
   one more css for each page that will contain the selected used 
  on that page only (the ones not reused in other pages)
*/

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-color: #f0f1f3;;
}
