.nav-login{
    border: none;
    text-decoration: underline;
    margin-right: 10px;
    background: #f8f9fa;
}

.nav-register{
    border: none;
    text-decoration: underline;
    background: #f8f9fa;
}