.head-container{
    background: linear-gradient(-45deg, #4977ac, #41bdc9);
    width: 700px;
    height: 200px;
    text-align: center;
    /* margin-left: 60px; */
    border-radius: 10px;
    grid-area: 1 / 1 / 3 / 3;
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
}
.stock-photo{
    /* position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30; */
    /* margin: 108px 70px 0px 0px; */
    grid-area: 1 / 4 / 3 / 6;
    border-radius: 10px;
    height: 280px;
    width: 430px;
}