.head-container{
    background: linear-gradient(-45deg, #4977ac, #41bdc9);
    width: 700px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    margin-top: 70px;
   
}

.stock-photo{
    border-radius: 10px;
    height: 300px;
    width: 460px;
}