.nav-login{
    border: none;
    text-decoration: underline;
    margin-right: 20px;
    background: none;
    margin-top: 0px;
}

.nav-register{
    border: none;
    text-decoration: underline;
    background: none;
}

.navbar-logo{
    width: 210px;
    height: 100px;
    border-radius: 20px;
    font-size: 60px;
    letter-spacing: 0.1em;
    padding: 10px;
    color: rgba(145, 144, 144, 0.5);
    opacity: 0.6;
}