@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");



.login-container {
  height: 550px;
  width: 500px;
  border-radius: 30px;
  /* background-color: #2f848b; */
  /* background: linear-gradient(-45deg, #35577D, #2f848b); */
  background: linear-gradient(-45deg, #40bcc7, #4199a1);
  /* background: linear-gradient(-45deg, #becad8, #3dd1df); */
  margin: auto;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.login-card {
  margin-top: 35px;
  text-align: center;
  padding-top: 20px;
}

.login-title {
  margin-top: 10px;
  text-transform: uppercase;
  color: rgba(255, 253, 253, 0.952);
  display: inline-block;
  font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.inputs {
  margin-top: 30px;
}
.username {
  margin-bottom: 20px;
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.password {
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.login-button {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 20px;
  color: #3f3f3f;
  background-color: #dbdbdb;
  border-radius: 10px;
  border: none;
  /* border-color: #ebbdd8; */
}

.login-button:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.account-button {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 40px;
  color: #3f3f3f;
  background-color: #dbdbdb;
  border-radius: 10px;
  border: none;
  /* border-color: #ebbdd8; */
}

.account-button:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* logo stuff */


/* welcome stuff*/

.welcome {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  /* margin-top: 100px; */
  /* background: linear-gradient(-45deg, #bdbebe, gray) ; */
  height: 100%;
  width: 800px;
  border-radius: 15px;
}
.welcome-card{
 margin: auto;
 position: relative;
 top: 25%;
}
.welcome-title {
  font-size: 60px;
  font-stretch: 20px;
  /* margin-left: 5px; */
  margin-top: 30px;
  color: rgb(0, 210, 218);
  /* color: linear-gradient(-45deg, #35577D, #2f848b) */
}
.welcome-message {
  margin-top: 30px;
}
.welcome img {
  padding: 20px;
}

/* logged in page css */

.buttonsnshit{
  margin-top: 100px;
}

.started-page {
  font-size: 20px;
  margin-bottom: 30px;
  width: 220px;
  height: 60px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  background-color: rgb(255, 247, 247);
  cursor: pointer;
  position: relative;

  z-index: 0;
  border-radius: 10px;
}

.started-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.4s;
}
.started-page:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.started-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transform: scale(1.2, 1.2);
}
.started-page:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.logout-button {
  font-size: 20px;
  margin-bottom: 60px;
  width: 220px;
  height: 60px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  background-color: rgb(255, 247, 247);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.logout-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.4s;
}
.logout-button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.logout-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transform: scale(1.2, 1.2);
}
.logout-button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
