.reg-intro{
    padding: 50px;
  
  }
  
  .dscrp{
    margin-top: 60px;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  /*get started button*/
  
  .register-button {
    font-size: 20px;
    margin-bottom: 60px;
    width: 220px;
    height: 60px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    background-color: rgb(255, 247, 247);
    cursor: pointer;
    
    position: relative;
    left: 0px;
    top: 130px;
    z-index: 0;
    border-radius: 10px;
  }
  
  
  .register-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.4s;
  }
  .register-button:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .register-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s;
    border: 1px solid rgba(155, 154, 154, 0.5);
    border-radius: 10px;
    transform: scale(1.2,1.2);
  }
  .register-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }