.register-container {
  height: 555px;
  width: 600px;
  border-radius: 30px;
  /* background-color: #2f848b; */
  background: linear-gradient(-45deg, #35577d, #2f848b);
  color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  width: 100%;
  max-width: 520px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8rem;
}

.buddy-logo {
  color: rgba(255, 255, 255, 0.5);
  width: 190px;
  border-radius: 5px;
}
/* .content {
  text-align: center;
  padding-top: 20px;
} */
h1 {
  margin-top: 25px;
}
.form-group {
  margin-top: 15px;
}
.reg-user {
  /* margin-bottom: 30px; */
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.reg-btn {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 40px;
  color: #3d3a3a;
  background-color: #dbdbdb;
  border-radius: 10px;
  border: none;
  /* border-color: #ebbdd8; */
}

.footer:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*register page*/

.register-button:hover {
  background-color: aquamarine;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.line {
  display: inline-block;
}

#firstTimeReg {
  margin-top: 11px;
}
