.pass-container {
  height: 650px;
  width: 500px;
  border-radius: 30px;
  /* background-color: #2f848b; */
  background: linear-gradient(-45deg, #35577d, #2f848b);
  color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

h1 {
  margin-top: 25px;
}

.form-group {
  margin-top: 15px;
}
.pass-user {
  margin-bottom: 30px;
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}
.pass-btn {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 40px;
  margin-bottom: 20px;
  color: #3d3a3a;
  background-color: #dbdbdb;
  border-radius: 10px;
  border: none;
  /* border-color: #ebbdd8; */
}
