@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

.login-container {
  height: 480px;
  width: 500px;
  border-radius: 50px;
  background-color: rgba(255, 253, 253, 0.952);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.login-card {
  text-align: center;
  padding-top: 20px;
}

.login-title {
  margin-top: 10px;
  text-transform: uppercase;

  color: #6CA68D;
  display: inline-block;
  font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.inputs {
  margin-top: 30px;
}
.username {
  margin-bottom: 20px;
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.password {
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.login-button {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 30px;
  color: #3f3f3f;
  background-color: #dbdbdb;
  border-radius: 10px;
  border: none;
  /* border-color: #ebbdd8; */
}

.login-button:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.account-button {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 50px;
  color: #3f3f3f;
  background-color: #dbdbdb;
  border-radius: 10px;
  border: none;
  /* border-color: #ebbdd8; */
}

.account-button:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* logo stuff */

.logo-title {
  font-size: 60px;
  letter-spacing: 0.1em;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}
/* welcome stuff*/

.welcome {
  /* text-align: center; */
  margin: auto;
  position: absolute;
  top: 50;
  bottom: 0;
  left: 0;
  right: 0;
}

.welcome-title {
  font-size: 70px;
  color: #fff;
}

.welcome img {
  padding: 20px;
}

/* logged in page css */
.started-page {
  font-size: 20px;
  margin-bottom: 60px;
  width: 220px;
  height: 60px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  background-color: rgb(255, 247, 247);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}


.started-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.4s;
}
.started-page:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.started-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  transform: scale(1.2,1.2);
}
.started-page:hover::after {
  opacity: 1;
  transform: scale(1,1);
}



.logout-button {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  /* border-color: #ebbdd8; */
}
