@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

.login-container {
  height: 480px;
  width: 500px;
  border-radius: 50px;
  background-color: rgba(255, 253, 253, 0.952);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.login-card {
  text-align: center;
  padding-top: 20px;
}

.login-title {
  margin-top: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ee7752 0%,
    #e73c7e 29%,
    #23a6d5 67%,
    #23d5ab 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.inputs {
  margin-top: 30px;
}
.username {
  margin-bottom: 20px;
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.password {
  width: 380px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.login-button {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 30px;
  color: #3f3f3f;
  background-color: #dbdbdb;
  border-radius: 10px;
  border-color: #ebbdd8;
}

.login-button:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.account-button {
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 380px;
  height: 45px;
  position: relative;
  left: 0px;
  top: 50px;
  color: #3f3f3f;
  background-color: #dbdbdb;
  border-radius: 10px;
  border-color: #ebbdd8;
}

.account-button:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* logo stuff */

.logo-title {
  font-size: 60px;
  letter-spacing: 0.1em;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}

.welcome {
  margin-left: 10px;
}

.welcome img {
  padding: 20px;
}
